


{% extends 'base.html' %}
{% block title %} {% endblock %}

{% block content %}
    <h1>Testlar</h1>
    <form method="post">
        {% csrf_token %}
        {% if question %}
            {% for qs in question  %}
            <p>{{qs.name}}</p>
            {% for jb in ansver %}
            {% if jb.question.id == qs.id %}
                        <input type="radio" name="{{ qs.name }}" value="{{ jb.is_right }}">
                        <label>{{ jb.name }}</label><br>
                    {% endif %}
                {% endfor %}
                <hr>
            {% endfor %}<br>
            <button class="btn btn-success" type="submit">
                Yakunlash
            </button>
        {% else %}
            <p>Savollar mavjud emas!</p>
        {% endif %}
    </form>
{% endblock %}